$off-white: #f8f8f8;
$light-grey: #dddddd;
$dark-grey: #444040;

//Theme
$primary: #98506d;
$primary-text: #f8f8f8;

$secondary: #d0605e;
$secondary-text: #ecf9ff;

$tertiary: #ff884c;
$tertiary-text: #f8f8f8;
