$off-white: #f8f8f8;
$light-grey: #dddddd;
$dark-grey: #444040;

//Theme
$primary: #fe6779;
$primary-text: #f8f8f8;
$secondary: #ffa285;
$secondary-text: #ecf9ff;
$tertiary: #428ae0;
$tertiary-text: #f8f8f8;

// Autumn
// $primary: #98506d;
// $primary-text: #f8f8f8;
// $secondary: #d0605e;
// $secondary-text: #ecf9ff;
// $tertiary: #ff884c;
// $tertiary-text: #f8f8f8;

//Ocean
// $primary: #387ca3;
// $primary-text: #f8f8f8;
// $secondary: #52adc8;
// $secondary-text: #ecf9ff;
// $tertiary: #55c39e;
// $tertiary-text: #f8f8f8;

//Pumpkin
// $primary: #52373b;
// $primary-text: #f8f8f8;
// $secondary: #d63d41;
// $secondary-text: #ecf9ff;
// $tertiary: #ec5633;
// $tertiary-text: #f8f8f8;

//Summer
// $primary: #a9b40b;
// $primary-text: #f8f8f8;
// $secondary: #ffc000;
// $secondary-text: #ecf9ff;
// $tertiary: #f38c01;
// $tertiary-text: #f8f8f8;

// Melon
// $primary: #fb6e68;
// $primary-text: #f8f8f8;
// $secondary: #f8f378;
// $secondary-text: #ecf9ff;
// $tertiary: #79b953;
// $tertiary-text: #f8f8f8;
