@import '../../App.scss';

.header {
  background: $primary;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  color: $primary-text;
}

.header__brand {
  // background-color: $secondary;
  // border-right: 5px solid $tertiary;
  padding: 11px;
  color: inherit;
}

.header__navlinks {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.navlinks__link {
  text-decoration: none;
  color: $primary-text;
  padding: 10px;
}

.navlinks__link:hover {
  border-bottom: 5px solid $secondary;
}

.navlinks__link:hover.active {
  border-bottom: none;
}

.active {
  background: $tertiary;
  color: $secondary-text;
}

.header__persona {
  height: 100%;
  background-color: $tertiary;
  border-left: 5px solid $secondary;
}
.header__persona:hover {
  background: lighten($tertiary, 5%);
}
