@import './styles/base';
@import './styles/animations';
@import './styles/colors';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
  font-family: 'Roboto', sans-serif;
}

.btn:hover {
  animation-name: pulse;
  animation-duration: 500ms;
}
.btn:disabled {
  animation-name: none;
}

// Exporting variables provides access in JavaScript.
:export {
  primary: $primary;
  primary-text: $primary-text;
  secondary: $secondary;
  secondary-text: $secondary-text;
  tertiary: $tertiary;
  tertiary-text: $tertiary-text;
}
